<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844508978157-9khmfjle7okpveq0si6gi4v5scljf1df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844508978157-9khmfjle7okpveq0si6gi4v5scljf1df</string>
	<key>API_KEY</key>
	<string>AIzaSyD2t6iOBv0WUEbnOpa3wU1HifsrAv4wvb0</string>
	<key>GCM_SENDER_ID</key>
	<string>844508978157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kyrkjakt</string>
	<key>PROJECT_ID</key>
	<string>kyrkjakt-2fe15</string>
	<key>STORAGE_BUCKET</key>
	<string>kyrkjakt-2fe15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844508978157:ios:36edb81265a7748e08a5e4</string>
</dict>
</plist>